* {
    line-height: 1.5;
}


p {
    font-size: 1.25em;
}

h1 { 
   color: #009FDA;  
}

h2 {
    color: darkgray;

}

.vote {
    margin-left: 1%;
}

.bill {
    padding: 15px;
}

a { 

    font-size: 2rem;
   
}

.logo {
    
 width: 80%;
 display: block;
 margin: auto;
    
}

.title {
    text-align: center;
}

/*a:hover {
    background-color: lightgrey;
    color: #fff;
    text-decoration: none;
     padding: 15px;
}*/

.vote {
    
    float: right;
}

.container {  
    
}

