<div class="container">
    <div class="row">
        <!-- BILL TITLE -->
        <div class="col-md-12">
            
        </div>
        <div class="col-sm-9">
            <h2>{{BillCtrl.bill.attributes.identifier}}: {{BillCtrl.bill.attributes.title}}</h2>
            <h3>
                Legislative Session:
                <span ng-bind="BillCtrl.bill.attributes.legislative_session.name"></span>
            </h3>
        </div>
        <!-- VOTE BTNS -->
        <div class="col-sm-3">
            <br>
            <a class="btn btn-primary btn-block" style="text-align:left;" target="_blank" ng-href="{{BillCtrl.bill.voteYesLink}}" ng-click="BillsCtrl.voteYes(bill)">
                <span class="glyphicon glyphicon-menu-up"></span>Vote <strong>#YES</strong>
                <strong class="badge pull-right">{{BillCtrl.bill.twitterVotes.yes}}</strong>
            </a>
            <a class="btn btn-danger vote btn-block" style="text-align:left;" target="_blank" ng-href="{{BillCtrl.bill.voteNoLink}}" ng-click="BillsCtrl.voteNo(bill)">
                <span class="glyphicon glyphicon-menu-down"></span>Vote <strong>#NO</strong>
                <strong class="badge pull-right">{{BillCtrl.bill.twitterVotes.no}}</strong>
            </a>

           <!--  <a class="btn btn-danger vote" target="_blank" ng-href="{{BillCtrl.bill.voteNoLink}}"><span
                    class="glyphicon glyphicon-menu-down"></span>Vote #no <strong>{{BillCtrl.bill.twitterVotes.no}}</strong></a>
            <a class="btn btn-success vote" target="_blank" ng-href="{{BillCtrl.bill.voteYesLink}}"><span
                    class="glyphicon glyphicon-menu-up"></span>Vote #yes <strong>{{BillCtrl.bill.twitterVotes.yes}}</strong></a> -->
        </div>
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <!-- FULL -->
        <div class="col-md-12">
            
        </div>
        <!-- LEFT -->
        <div class="col-md-8">
            <!-- ACTIONS -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Recent Actions</strong></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="width:100px;">Date</th>
                                <th>Action</th>
                                <th>Organization</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="action in BillCtrl.bill.attributes.actions | orderBy:'date':true "
                                ng-class="{warning:$index === 0}"
                            >
                                <td><strong>{{action.order + 1}}</strong></td>
                                <td>{{action.date}}</td>
                                <td>{{action.description}}</td>
                                <td>{{action.organization.name}} ({{action.organization.classification}})</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- COMMENTS -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Converstion</strong></div>
                <!-- <pre>
                    http://local.flvote.org:8080/ocd-bill_f58c4471-67c0-47ac-af36-8b64f6655e3a#disqus_thread
                    {{BillCtrl.disqusConfig}}
                </pre> -->
                <div class="panel-body">
                    <dir-disqus config="BillCtrl.disqusConfig"></dir-disqus>
                </div>
            </div>
        </div>
        <!-- RIGHT -->
        <div class="col-md-4">
            <!-- Sponsorships -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Sponsorship</strong></div>
                <div class="panel-body" style="overflow-wrap: break-word;">
                    <div ng-repeat="sponsor in BillCtrl.bill.attributes.sponsorships">
                        <div>
                            <img ng-if="sponsor.person.image" ng-src="{{sponsor.person.image}}" height="200" />
                            <p><span class="label label-primary" ng-if="sponsor.primary">Primary Sponsor</span> {{sponsor.person.name ? sponsor.person.name : sponsor.name}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- SUBJECTS -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Subjects</strong></div>
                <div class="panel-body">
                    <a ui-sref="bills.bySubject({subject: subject})" 
                    ng-repeat="subject in BillCtrl.bill.attributes.subject"
                    ng-if="BillCtrl.bill.attributes.subject.length > 0"
                    class="badge" style="margin:5px">{{subject}}</a>
                    <span ng-if="BillCtrl.bill.attributes.subject.length === 0">(no related subjects)</span>
                </div>
            </div>
            <!-- SOURCES -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Sources</strong></div>
                <div class="panel-body" style="overflow-wrap: break-word;">
                    <ul>
                        <li ng-repeat="source in BillCtrl.bill.attributes.sources">
                            <span>{{ source.note }}</span>
                            <div>
                                <a ng-href="{{source.url}}" target="_blank">{{source.url}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Learn More -->
            <div class="panel panel-default" ng-if="BillCtrl.bill.attributes.documents.length > 0">
                <div class="panel-heading"><strong>Learn More (Documents)</strong></div>
                <div class="panel-body" style="overflow-wrap: break-word;">
                    <div ng-repeat="doc in BillCtrl.bill.attributes.documents" style="margin:5px;">
                        {{doc.note}}
                        <div ng-repeat="link in doc.links" style="margin-left:10px;">
                            <a ng-href="{{link.url}}" target="_blank">{{link.url}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
