<h2>{{BillCtrl.bill.attributes.identifier}}: {{BillCtrl.bill.attributes.title}}</h2>
<p><strong>Subjects:</strong> <span ng-repeat="subject in BillCtrl.bill.attributes.subject" style="margin:5px">{{subject}}</span></p>

<p><strong>Learn More (Documents):</strong></p>
<div ng-repeat="doc in BillCtrl.bill.attributes.documents" style="margin:5px;">
	{{doc.note}}
	<div ng-repeat="link in doc.links" style="margin-left:10px;">
		<a ng-href="link.url" >{{link.url}}</a>
	</div>
	
</div>

<p><strong>Vote!:</strong></p>
<div>
      <a class="btn btn-default" target="_blank"
      	ng-href="{{BillCtrl.bill.voteYesLink}}">Vote #yes ({{yesVotes}})</a>
      <a class="btn btn-default" target="_blank"
      ng-href="{{BillCtrl.bill.voteNoLink}}">Vote #no ({{noVotes}})</a>
</div>

<!--  -->