<div class="container">

    <!-- Register To Vote -->
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1>Vote with a Tweet!</h1>
            <p>Welcome! Use #FLVote to harness Twitter to influence Bills in the Florida Legislature.</p>
            <h3>Vote Yes or No in just 3 easy steps:</h3>
            <ol>
                <li>Pick the Bill</li>
                <li>Vote Yes or No to create your tweet</li>
                <li>Share it on Twitter</li>
            </ol>
            <p>Promote your views or add your favorite hashtag by customizing your tweet before sharing. If someone
                ReTweets yours, then that’s another vote for your side.</p>
            <p>We don’t store any of your info. The conversation happens out on the Twitterverse.</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h2>Are you Registered to Vote in FL?</h2>
                    <p>The first step to making a real difference in your community is registering to vote!</p>
                    <br/>
                    <p class="text-center"><a
                            href="http://dos.myflorida.com/elections/for-voters/voter-registration/register-to-vote-or-update-your-information/"
                            target="_blank" class="btn btn-primary btn-block btn-lg"
                            onClick="ga('send', {
                            'hitType': 'event',
                            'eventCategory': 'External URL',
                            'eventAction': 'Register to Vote',
                            'eventLabel': 'Voter Registration Button',
                            'eventValue': 1
                            });">Register Now</a></p>
                </div>

            </div>
        </div>
    </div>

    <!-- Bills List -->
    <h1>Recent Bills</h1>
    <div class="row">
        <form class="form-inline">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="query" ng-model="query" placeholder="Search">
              <button type="submit" class="btn btn-default" ng-click="BillsCtrl.fetchBills(query)">Submit</button>
            </div>
          </div>
          <div class="col-md-6">
            <label ng-show="BillsCtrl.subject">Filtering By Subject:</label>
            <a href="/"class="badge" ng-click="BillsCtrl.subject = ''" ng-bind="BillsCtrl.subject"></a>
          </div>
        </form>
    </div>
    <div class="bill" ng-repeat="bill in BillsCtrl.bills">

        <div class="bill-left">
          <div>
            <strong ng-bind="bill.attributes.identifier"></strong>
            <a ui-sref="bills.detail({id: bill.billId})">
                <span class="billhover billname" ng-bind="bill.attributes.title"></span>
            </a>
          </div>
            <a ui-sref="bills.bySubject({subject: subject})" ng-repeat="subject in bill.attributes.subject" class="badge" style="margin:5px">{{subject}}</a>
        </div>

        <div class="bill-right">
            <a class="btn btn-danger vote" target="_blank" ng-href="{{bill.voteNoLink}}"
                ng-click="BillsCtrl.voteNo(bill)">
                <span class="glyphicon glyphicon-menu-down"></span>Vote #no
                <strong>{{bill.twitterVotes.no}}</strong>
            </a>

            <a class="btn btn-success vote" target="_blank" ng-href="{{bill.voteYesLink}}"
                ng-click="BillsCtrl.voteYes(bill)">
                <span class="glyphicon glyphicon-menu-up"></span>Vote #yes
                <strong>{{bill.twitterVotes.yes}}</strong>
            </a>

            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>

    <button type="button" class="btn btn-block btn-lg btn-primary loadmore" ng-click="BillsCtrl.getNextPage()">LOAD MORE</button>
</div>

